<h1 style="text-align: center">Новинки альтернативної енергетики</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
    	<a href="https://teknoblog.ru/2017/10/31/84035" target="_blank">
    		<p style="font-size: 20px; color: white;">Глава Tesla предрекает возврат к Средневековью без использования ВИЭ</p>
		<img src="https://cdn.teknoblog.ru/wp-content/uploads/2016/10/Mask_Tesla-768x573.jpg" style="width: 180px; height: 134px;">
		</a>
	</div>
    <div class="col-xs-6">
    	<a href="https://teknoblog.ru/2017/09/19/82400" target="_blank"><p style="font-size: 20px; color: white">В Дубаи построят крупнейшую в мире солнечную электростанцию</p>
    	<img src="https://cdn.teknoblog.ru/wp-content/uploads/2016/06/Oai-Sol.jpg" style="width: 200px; height: 134px">
    	</a>
	</div>
  </div>

  <div class="row">
    <div class="col-xs-6">
    	<a href="https://teknoblog.ru/2017/08/28/81644" target="_blank">
    		<p style="font-size: 20px; color: white;">В Великобритании появится свой уникальный “солнечный” городок</p>
		<img src="https://cdn.teknoblog.ru/wp-content/uploads/2017/08/sol-02.jpg" style="width: 180px; height: 134px">
		</a>
	</div>
    <div class="col-xs-6">
    	<a href="https://teknoblog.ru/2017/08/12/81067" target="_blank"><p style="font-size: 20px; color: white">Ветропарк с самыми большими в мире турбинами будет построен в Великобритании</p>
    	<img src="https://cdn.teknoblog.ru/wp-content/uploads/2015/07/veter-ES-morskaya.jpg" style="width: 200px; height: 134px">
    	</a>
	</div>
  </div>

  <div class="row">
    <div class="col-xs-6">
    	<a href="https://teknoblog.ru/2017/07/15/80213" target="_blank">
    		<p style="font-size: 20px; color: white;">Австралийские солнечные мини-станции обещают революцию в “зеленой” энергетике</p>
		<img src="https://cdn.teknoblog.ru/wp-content/uploads/2017/07/sol-9.jpg" style="width: 180px; height: 134px">
		</a>
	</div>
    <div class="col-xs-6">
    	<a href="https://teknoblog.ru/2017/07/12/80127" target="_blank"><p style="font-size: 20px; color: white">Уже 100 компаний “помешались” на “зеленой” инициативе</p>
    	<img src="https://cdn.teknoblog.ru/wp-content/uploads/2016/09/Energia-veter-sol.jpg" style="width: 200px; height: 134px">
    	</a>
	</div>
  </div>

  <div class="row">
    <div class="col-xs-6">
    	<a href="https://www.gazeta.ru/tech/2016/02/02/8052713/solar_energy.shtml" target="_blank">
    		<p style="font-size: 20px; color: white;">Что, если не нефть</p>
		<img src="https://img.gazeta.ru/files3/85/8053085/shutterstock_60600820-pic4_zoom-1500x1500-69828.jpg" style="width: 180px; height: 134px">
		</a>
	</div>
    <div class="col-xs-6">
    	<a href="https://teknoblog.ru/2017/07/12/80127" target="_blank"><p style="font-size: 20px; color: white">Уже 100 компаний “помешались” на “зеленой” инициативе</p>
    	<img src="https://cdn.teknoblog.ru/wp-content/uploads/2016/09/Energia-veter-sol.jpg" style="width: 200px; height: 134px">
    	</a>
	</div>
  </div>
</div>